/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* styling */
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
}

.bg-image-container {
  width: 100vw;
  height: 100vh;
  background-image: url("https://wallpaperaccess.com/full/2425075.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: hsla(40, 100%, 6%, 0.6);
  padding: 5rem 3rem;
  width: 50%;
  min-width: 40rem;
  max-width: 60rem;
  border-radius: 1rem;
  border: 1px solid white;
}

input[type="email"], input[type="password"]
{
    background-color: steal blue ;
    opacity: .5;
}

.login-container h3 {
  font-size: 3.5rem;
  color: white;
  text-align: center;
  margin-bottom: 4rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.input-group label {
  color: white;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 0.7rem;
}

.input-group input {
  font-size: 2rem;
  padding: 0.1rem 0.25rem;
  background-color: hsla(40, 100%, 91%, 0.3);
  border: 1px solid hsl(40, 100%, 6%);
  outline: none;
  border-radius: 5px;
  color: white;
  font-weight: lighter;
}

.input-group input:focus {
  border: 1px solid hsl(40, 100%, 50%)
}

.btn{
    margin: auto;
    width: 83%;
}

.login-button {
  padding: 1rem 3rem;
  border-radius: 5px; 
  background-color: hsla(40, 100%, 50%, 0.1);
  border: 1px solid hsl(40, 100%, 50%);
  outline: none;
  font-size: 2rem;
  color: white;
  font-weight: lighter;
  margin-top: 2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 50px;
  margin-left: 50px;
}

.login-button:hover {
  background-color: hsla(40, 100%, 50%, 0.3)
}

.login-button:focus {
  background-color: hsla(40, 100%, 50%, 0.5)
}